@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.parallax{
  padding-top: 75vh;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.One{
  background-image: url("./images/hello.jpg");
}

.Two{
  background-image: url("./images/emp.jpg");
}

.content{
  color: white;
  background-color: #282c34;
  height: fit-content;
  padding-top: 1%;
  padding-bottom: 4%;
}

.App-link {
  color: #09d3ac;
}

#navbar{
  position: relative;
  background-color: #6F7D8C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 1px 15px black;
  padding-top: 2%;
  padding-bottom: 2%;
}

#navbarName{
  font-family: 'Shadows Into Light', cursive;
  padding-left: 10%;
  align-self: flex-start;
  color: white;
  font-size: 2em;
}

#navbarLinks{
  height: 100%;
  padding-right: 10%;
  align-self: flex-end;
  align-self: center;
}

#navbarLinks img{
  padding-left: 10px;
}

#navbarLinks img:hover{
  cursor: pointer;
  opacity: 0.5;
}

#projectGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card{
  background-color: white;
  color: #282c34;
  width: 80%;
  padding: 5%;
  border-radius: 6px;
}

.card img{
  max-width: 100%;
  border: solid 1px black;
}

.card img:hover{
  cursor: pointer;
  opacity: 0.75;
}

.card a{
  color: #282c34;
  padding: 2%;
}

.card a:hover{
  color: #B0B2B5;
}

.more{
  color: gray;
  text-decoration: underline;
  font-size: 80%;
}

.more:hover{
  cursor: pointer;
  opacity: 0.5;
}
